# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/
/markdown.xml
/modules.xml
/stimulus-concerns.iml
/vcs.xml
